body{
    background-color: lightblue;
    overflow: hidden;
}
#contentSection{
    margin-left: 35%;
    margin-top: 10%;
}

#actionButton {
    background-color: white;
    color: black;
    border: 2px solid #555555;
  }

#actionButton:hover {
    background-color: #555555;
    color: white;
  }

#chat {
  height:100px;
  width:500px;
  border:1px solid #ccc;
  font:16px/26px Georgia, Garamond, Serif;
  overflow:auto;

}
